* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

header {
	background: url(../images/bg2.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;
}

.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1 {
	font-size: 50px;
}

.header-text > h1, .header-text > p, .header-text > button {
	margin-left:50px; 
}

nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav  > ul  {
	display: flex;
	color: white;
	list-style-type: none;
}

nav	> ul > li {
	margin: 0 20px;
}

/*Styling for all buttons*/
.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-product {
	background-color: lightblue;
	font-size: 15px;
	/*font-weight: bold;*/
	color: white;

}

#auroraBtn {
	position: absolute;
	right: 100px;
	top: 20px;
	transition: .3s;
}

#auroraBtn:hover {
 top: 15px;
}

.header-text > .btn {
	background-color: lightblue;
	color:rgb(0,150,255);
}

/*Disappearing menu CSS*/
.subMenu {
	background-color: rgba(0,122,200,0.50);
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top:45px;
	visibility: none;

}

.subMenu > div	{
	width: 25%;
	
}

div + div {
	border-left: 1px solid whitesmoke;
}

.subMenu >	div	> h4,.subMenu > div > p {
	margin: 10px 0;
	padding: 0 10px;
}

 .subMenu > div > p:hover {
	background-color: red;
}

.subMenu {
	visibility: hidden;
}

#mega-menu:hover > .subMenu, #mega-menu > .submenu:hover{
	visibility: visible;
}

/*End CSS for header*/

/*Quote CSS*/

.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}

/*End of Quote CSS*/

/*Start of about css*/
.about {
	height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.about > .sec-left {
	width: 50vw;
	height: 100vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.about > .sec-left > img {
	height: 350px;
	width: 80%;
}

.about > .sec-right {
	width: 50vw;
	height: 100vh;
	justify-content: center;


}

.about > .sec-right > div > div {
	position: relative;
	top:150px;
	

}

.about > .sec-right > div > div > h1{
	margin-left: 20px;
	font-size: 30px;
	
}
.about > .sec-right > div > div > p {
	margin-left: 10px;
} 

.right-section {
	width: 25vw;
	height: 40vh;
	
	
}

.left-section {
	width: 25vw;
	height: 40vh;

}

.container  {
	display: flex;
}

.right-section > p, .left-section > p {
	margin: 0px 120px;

}

.right-section > h4, .left-section > h4 {
	margin: 0px 10px;
}

.right-section > h3 {
	position: absolute;
	top:5px;
	left: 60px;
	font-size: 15px;
}

.left-section > h3 {
	position: absolute;
	top:3px;
	left: 37px;
	font-size: 15px;

}

.about-sym {
	font-size: 15px;
	position: relative;
	bottom:  10px;
}




/*End of About css*/

/*activity Css*/
.activity {
	height: 100vh;
}

.activity > .head {
	text-align: center;
	position: relative;
	top: 100px;

}

.activity > .head > h1 {
	
	font-size: 50px;
	margin: 20px;
}

.act-container {
	display: flex;
}

.box1, .box2, .box3 {
	border:1px solid gray;
	width: 320px;
	height: 350px;
	position: relative;
}

.box1 {
	
	top: 110px;
	left: 150px;

}

.box2 {
	
	top: 110px;
	left: 200px;
}
.box3 {

	top: 110px;
	left: 250px;

}

.box-top {
	height: 80%;
	
	border-bottom: 1px solid gray;
}

.box-bot{
	height: 20%;
	
}

.box-top > p {
	text-align: center;
	}
.box-top > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	top: 70px;
	margin: 0 50px;
}

.activity img {
	height: 60px;
	width: 60px;
	border-radius: 100px;
	position: absolute;
	top:250px;
	left: 125px;
}

.box-bot > h4 {
	text-align: center;
	margin-top: 30px;
}

.box1:hover, .box2:hover, .box3:hover {
	box-shadow: 10px 14px 5px 0px rgba(0,0,0,0.75);
	top:115px;
}





/*End of activity Css*/
